@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body{
    background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
    font-family: poppins;
}

.container{
    display: flex;
    justify-content: center;
}


